@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html, body { 
    width: 100%;
    height: auto;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;
}

