@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html, body { 
    width: 100%;
    height: auto;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;

}



a {
    text-decoration: none;
}

a :hover {
    color:#ff7878;
}

/* header */

header {
    display: flex;
    width: 100%;
    height: 80px;
    /* background-color: #112538; */
    background-color: #181818;

    align-items: center;
}

#logo, .sidebar, .footer-menu {
    margin-left: 5%;
}

#logo {
    width: auto;
}

#logo img {
    border-radius: 15px;
}

header .search {
    display: inherit;
    margin-left: 50px;
}

header input {
    width: 25vw;
    min-width: 80px;
    height: 35px;
    padding-left: 15px; 
    border: none;
    outline: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    align-self: center;
    font-size: 1.12em;
}

header button {
    border: none;
    outline: none;
    height: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    color: ghostwhite;
    cursor: pointer;
    background-color: orangered;
    font-size: 1.5em;
}

header nav {
    margin-left: 20px;
    width: 40vw;
}

header .menu-list {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

header .menu-item {
    font-size: 1.24em;
    font-weight: bold;
}

header .menu-item-link {
    color: ghostwhite;
}

/* sidebar */

.sidebar {
    float: left;
    position: sticky;
    top: 0;
    height: 100%;
    /* width: 20%; */
    width: 300px;
    margin-top: 10px;
}

.catalog {
    padding: 5px;
    border-bottom: 1px solid lightgray;
    line-height: 2.8em;
    /* position: absolute; */
    /* right: 0; */
}

.catalog .catalog-item-link {
    font-size: 1.4em;
    /* font-weight: bold; */
    color: rgb(51, 104, 150);
}

/* main */
h2 {
    text-align: center;
}

main {
    position: relative;
    min-height: 70vh;
    /* height: 100%; */
    width: 70%;
    float: left;
    border-left: 1px solid lightgray;
}

.offer {
    /* width: 50%; */
    display: flex;
    justify-content: center;
    margin: 40px;
}

.offer img {
    width: 100%;
    
    
}

.products-container {
    margin: 40px;
}

.products-grid {
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0px;
    justify-content: center;
    align-content: start;
}

.product-tile {
    position: relative;
    width: 300px;
    /* width: 25vw; */
    /* width: 70%; */
    /* height: auto; */
    padding: 40px;
    padding-bottom: 80px;
    /* padding-bottom: 40px; */
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.product-tile img {
    width: 100%;
}

.product-tile-name {
    position: absolute;
    left: 40px;
    font-size: 1.4em;
    font-weight: bold;
    padding: 5px 10px;
    color: black;
}

.product-tile-price {
    position: absolute;
    right: 40px;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 4px;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    padding: 5px 10px;
    color: aliceblue;
    /* background-color: #292350; */
    background-color: #4a9727;

}

.pagination {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.pagination a {
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    transition: background-color 0.25s;
}

.pagination a.active {
    background-color: orangered;
    color: lavender;
}

.pagination a:hover:not(.active) {
      background-color: lightgray;
}

/* fixed */

.account-actions {
    z-index: 110;
    position: fixed;
    top: 150px;
    right: 40px;
}

.actions-bar {
    display: flex;
    flex-direction: column;
    width: 48px;
    margin-left: 24px;
    transition: width 0.3s;
}

.action img  {
    width: 48px;    
    height: 48px;
    position: absolute;
    left: 36px;
}

#up-button img {
    width: 48px;    
    height: 48px;
}

.action {
    display: flex;
    flex-direction: row;
    /* background-color: rgba(0, 160, 70, 0.9); */
    background-color: orangered;

    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    width: 480px;    
    height: 48px;
    margin-bottom: 20px;
    border-radius: 24px;
    padding: 6px;
    padding-left: 30px;
    align-items: center;
}


.action span {
    position: absolute;
    font-size: 1.4em;
    left: 120px;
    width: 200px;
}

.actions-bar a {
    color: lavender;
}

.action-link :hover {
    color: bisque;
}

.actions-bar:hover {
    width: 240px;
}

#up-button {
    position: fixed;
    z-index: 10;
    right: 16px;
    bottom: 40px;
    padding: 6px;
    margin-bottom: 20px;
    border-radius: 24px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color:orangered;
    opacity: 0;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s ease-out;
}

/* footer */

footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 240px;
    border-top: 1px solid lightgray;
    align-items: flex-start;
    justify-content: center;
    background-color: #181818;
}

.footer-menu {
    display: inherit;
    margin: 0 auto;
}

.footer-category {
    display: inherit;
    flex-direction: column;
    width: 300px;
    padding: 0;
    list-style-type: none;
}

.footer-category-title {
    font-size: 0.8em;
    color: darkgray;
}

.footer-category-item {
    line-height: 1.8em;
}

.footer-category-item-link {
    color: rgb(51, 104, 150);
    color: lavender;
}

#disclaimer {
    /* margin: 0; */
    width: 100%;
    /* display: flex; */
    
    text-align: center;
    color: red;
    background-color: inherit;
}

#disclaimer p {
    margin: 0;
}

/* media queries */
@media (max-width: 560px) {
    header {
        height: 120px;
    }

    header nav {
        margin-left: 0px;
        /* width: 40vw; */
    }
    header .menu-list {
        flex-wrap: wrap;
    }

    header .menu-item {
        line-height: 1.8em;
        margin-right: 0;
    }

    .catalog .catalog-item-link {
        font-size: 1em;
        /* font-weight: bold; */
    }

    .products-grid {
        grid-template-columns: auto;
    }

    .product-tile {
        padding-bottom: 60px;
    }

    .account-actions {
        top: 400px;
    }

    footer {
        height: 70vh;
    }
}

@media (min-width: 560px) and (max-width: 1280px) {
    footer {
        height: 40vh;
    }
}

@media (max-width: 1280px) {

    body {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #logo, .footer-menu {
        margin-left: 5vw;
    }

    #logo {
        width: 52px;
        overflow: hidden;
        flex-shrink: 0;
        /* border-top-right-radius: 20px; */
        /* border-bottom-right-radius: 30px; */
        /* border-radius: 15px; */

    }

    header .menu-item {
        margin-right: 30px;
        font-size: 1.12em;
    }

    .sidebar {
        position: relative;
        width: calc(100% - 40px);
        /* padding-bottom: 20px; */
        margin: 20px;
    }

    .catalog {
        /* height: 200px; */
        height: 50px;
        border-bottom: none;
        display: flex;
        /* flex-direction: column; */
        
    }

    .catalog-list {
        list-style: none;
        margin: 0 auto;
        padding: 0;
        height: 200px;
        display: grid;
        /* grid-template-columns: auto auto auto; */
        grid-auto-flow: column;
        justify-content: left;
        column-gap: 10vw;
    }

    .catalog-item {
        font-weight: bold;
        font-size: 1.25em;
    }

    main {
        width: 100%;
        border-left: none;
    }

    .footer-menu {
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .footer-category-title {
        font-size: 1.25em;
    }

    .footer-category-item-link {
        font-size: 1.4em;
    }
}

@media (min-width: 1600px) {
    
    /* .sidebar {
        width: 20%;
    } */

    /* main {
        display: inline-block;
        width: 70%;
    } */

    .products-grid {
        grid-template-columns: auto auto auto;
    }

}

.overlay {
    display: block;
    /* position: fixed; */
    /* position:sticky; */
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background: lightslategray;
    z-index: 9;
    opacity: 1;
    transition: all 0.5s;
}

.loader-dual-ring:after {
    content: "";
    display: block;
    margin: auto;
    margin-top: 30vh;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* position: fixed; */
    /* top: 50%; */
    /* left: 50%; */
    width: 64px;
    height: 64px;
    /* margin: 0; */
    border-radius: 50%;
    border: 6px solid;
    border-color: white transparent white transparent;
    animation: loader-dual-ring 1.0s linear infinite;
}

.loader-dual-ring.hidden {
    display: none;
}

@keyframes loader-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}